{% extends 'admin.html.twig' %}

{% block title %}EmploiEnseignant index{% endblock %}

{% block body %}
    <h1>EmploiEnseignant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for emploi_enseignant in emploi_enseignants %}
            <tr>
                <td>{{ emploi_enseignant.id }}</td>
                <td><a href="{{ asset('uploads/brochures/' ~ emploi_enseignant.brochure) }}">View brochure (PDF)</a></td>
                <td>
                    <a href="{{ path('emploi_enseignant_show', {'id': emploi_enseignant.id}) }}">show</a>
                    <a href="{{ path('emploi_enseignant_edit', {'id': emploi_enseignant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('emploi_enseignant_new') }}">Create new</a>
{% endblock %}
